<h1> Login Page </h1>

<form method="POST" method="users/login">
    <label for="user">Username:</label>
    <input type="text" name="username" id="user">
    <br>
    <label for="pass">Password:</label>
    <input type="password" name="password" id="pass">
    <br>
    <input type="submit" value="Log in">
</form>

<%= errors  %> 